<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/styles.css">
    <title>AvaTrack</title>
</head>
<body>
    <h1> <center>Goodbye</center></h1>
<h2><center>This App is developed by lorehaze. Check my GitHub!</center></h2>
<center><button onclick="window.location.href='https://github.com/lorehaze';">Go to GitHub</button></center>
<center><p>Have an awesome day</p></center>

</body>
</html>